* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    position: relative;
    top: 0;
    left: 0;
    background-color: gray;
    padding: 0.5rem;
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: gray;
    padding: 1rem;
    width: 100%;
}

main {
    min-height: 88%;
    min-width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.producto {
    aspect-ratio: 2/3;
    padding: 1rem;
    margin: 1rem;
    flex: 1 1 10%;
    max-width: 350px;
    min-width: 250px;
    border: 1px solid black
}
.titulo {
    font-size: 1.3rem;
    font-weight: 600;
}
.producto .imagen {
    aspect-ratio: 1/1;
    background-image: url(https://picsum.photos/500/500);
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.descripcion {
    margin-bottom: 1rem;
}

.precio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}